.background_pic{
width:100vw;
height:100vh;
}

.nav{
  background-color: white;
  display: flex;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  padding:25px;
  font-size:20px;
  text-decoration: none;
}

a{
  color: black;
  text-align: center;
  
}

.navBarLink {
  margin: 10px;
}

.main_title{
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  margin-right:50px;
}

.logout{
  background-color: white;
  padding:10px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

}
@media only screen and (max-width: 600px) {
  .nav{
    font-size:20px
  }
  a.main-title{
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .nav{
    padding:25px;
  }

  .current-user{
    margin-left:15px;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    bottom:-5em;
    left:3em;
    font-size:15px;
    padding:25px;

  }
  .main_title{
    font-size: 25px;
    margin-right:10px;

  }
}