.unique{
  height:400px;
  width: 400px;
}

.h1-title{
  font-family: 'Raleway', sans-serif;
}

.input-number{
  width:20%;
  padding: 10px;
}

.input-review{
  width:20%;
  padding: 10px;
}

.review-button{
  background-color: #8dd7cf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

.review-map{
  display: flex;
  justify-content: space-around;
}

.food-description{
  margin:0 5% 5% ;
  font-size: 20px;
}

.all-reviews{
 display: flex;
 flex-direction: row;
}

.rating{
  margin-bottom: 10px;
}
.starrating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:20px;
  margin-bottom: 20px;
}
