.post_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

h4.post_h3{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
   margin-bottom: 40px;
}

.unique-photo{
  width:350px;
  height: 350px;
}



.post_title{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.edit{
  background-image: url(..//assets/edit.png); /* 16px x 16px */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  height: 25px;           /* make this the size of your image */
  padding-left: 16px;     /* make text start to the right of the image */
  vertical-align: middle;
  margin: 5px;

}

.delete{
  background-image: url(..//assets/delete.png); /* 16px x 16px */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  height: 25px;           /* make this the size of your image */
  padding-left: 16px;     /* make text start to the right of the image */
  vertical-align: middle;
  margin: 5px;
}


@media only screen and (max-width: 750px) {
  .post_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
.unique-photo{
  height: 300px;
  width:300px;
}
}

@media only screen and (max-width: 450px) {
  .post_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
.unique-photo{
  height: 200px;
  width:200px;
}
}